@font-face
{
	font-family: "Myriad Pro";
	src:url(font/MyriadProRegular.woff) format("woff");
	font-weight: normal;
  	font-style: normal;
}

@font-face
{
	font-family: "Myriad Pro - it";
	src:url(font/MyriadProItalic.woff) format("woff");
	font-weight: normal;
  	font-style: italic;
}

@font-face
{
	font-family: "Myriad Pro";
	src:url(font/MyriadProSemiBold.woff) format("woff");
	font-weight: 700;
  	font-style: normal;
}

body
{
	font-family: "Myriad Pro", sans-serif;
	background-color: #161616;
}


ul
{
	list-style: none;
	padding:0px;
}

main
{
	margin-top:-16px;
}
/*Стили для работы*/

.inline-block
{
	display: inline-block;
}

.style-for-names
{
	font-size: 30px;
	font-weight: 700;
}

.back-white
{
	background-color: white;
}

.hero
{
	background: url(img/header2.png) no-repeat,
	url(img/header1.png) repeat;
	background-size: contain;
	
}

.hero p
{
	margin:0px;
}

.style-for-a
{
	text-decoration: none;
	color: #ffc600;;
}

.style-for-a:hover
{
	color: white;
	border-bottom: 1px solid #ffc600;
}

.container
{
	margin: 0 auto !important;

}

.margin-for-content
{
	margin:0 100px;
}

.yellow-first-letter:first-letter
{
	color: #ffc600;
}

/*Хедер*/

.hero section:nth-child(1)
{
	margin-bottom: 45px;
}

.text-for-header
{
	padding: 115px 0px 0px 35px;
}

.text-for-header>p
{
	color: white;
	font-size: 202px;
	letter-spacing: -12px;
    font-weight: 700;
    line-height: 150px;
    text-shadow:0px 0px 2px white;
}

.text-block-header
{
	padding: 20px 0px 0px 10px;
	font-size:18px;
	max-width: 380px;
	color: white;
}

.text-block-header p:nth-child(2)
{
	padding-top: 30px;
}

.hero section:nth-child(2)
{
	background-image: url(img/header3.png);
	background-size: cover;
	min-height: 655px;
}

.menu-for-header
{
	padding:70px 0px 0px 45px;
}

.menu-for-header p
{
	max-width: 440px;
	padding-bottom: 60px;
	line-height: 48px;
	color: white;
	font-size:60px;
}

.menu-for-header p span
{
	color: #ffc600;
}

.menu li
{
	margin-right: 40px;
	display: inline-block;
}

.menu li a
{
	font-size: 18px;
}

/*Страница About*/

.about
{
	background-color: white;
}

.quality
{
	display: flex;
	justify-content: center;
	margin:0px 125px 0px 110px;
	padding-bottom: 100px;
}

.quality .qual
{
	width: 33%;
	text-align: center;
}

.about-inform
{
	display: flex;
	justify-content: center;
}

.about-inform div
{
	width: 50%;
}

.qual p:nth-of-type(1)
{
	color: #000000;
	font-size: 18px;
	padding-bottom:20px;
	margin: 0px;
}

.qual p:nth-of-type(2),
.qual p:nth-of-type(3)
{
	margin-top:0px;
	color: #000000;
	font-size: 10px;
	font-style: italic;

}

.qual
{
	padding:0px 45px;
}

.picture-for-quality
{
	
	background:url(img/quality.png) no-repeat 50% 25%,
	url(img/Layer_8.png) no-repeat 50% 0% ;
	min-height: 57px;
	padding-bottom: 25px;
}

.text-for-about
{
	padding:20px 0px 0px 15px;
	margin-bottom: 55px;

}


.text-for-about p:nth-child(1)
{
	color: #000000;
	font-size: 16px;
	font-style: italic;
}

.text-for-about p:nth-child(2)
{
	font-size: 14px;
	color: #595959;
}

.name-for-about p:nth-child(1)
{
	margin:0px;
	color: #717171;
	font-weight: 700;
	font-size: 30px;
}

.name-for-about p:nth-child(2)
{
	line-height: 40px;
	margin:0px;
	color: #000000;
	font-weight: 700;
	font-size: 80px;
	letter-spacing: -3px;
}

.name-for-about
{
	padding:70px 0px 0px 135px;
}
/*Третья секция*/

.head-proj p
{
	position: relative;
}

.head-proj p::before
{
	content: "";
	position: absolute;
	height: 133px;
	width: 1px;
	background-color: lightgray;
	transform:rotate(-90deg);
	top:-10px;
	left:170px;
}



.head-proj .yellow-first-letter::first-letter
{
	font-size: 50px;
}

.head-proj .yellow-first-letter span
{
	font-size: 50px;
	letter-spacing: -6px;
}

.head-proj
{
	padding:0px 0px 20px 80px;
}

.head-proj p 
{
	margin:-2px;
}

.head-proj ul li
{
	display: inline-block;
}

.head-proj ul li a
{
	font-size: 9px;
	font-weight: 700;
	color:black;
}

.proj-pict
{
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	overflow: hidden;
}


.picture-game img
{
	width: 100%;
	min-height: 267px;
}

.picture-game 
{
	width: 25%;
}

.proj-pict div:nth-child(5),
.proj-pict div:nth-child(6),
.proj-pict div:nth-child(7),
.proj-pict div:nth-child(8)
{
	margin-top: -5px;
}
/*Четвертая секция*/

.str-proj-text .yellow-first-letter::first-letter
{
	font-size:50px;
}

.str-proj-text p:nth-child(1) span
{
	font-size:50px;
	letter-spacing: -6px;
}

.for-title
{
	color: #000000;
	font-size: 16px;
	font-style:italic;
	margin-top:0px;
}

.for-information
{
	font-size: 14px;
	color: #595959;
}

.str-proj-text
{
	padding:65px 65px 40px 80px;
}

.str-proj-text p:nth-child(1)
{
	position: relative;
}

.str-proj-text p:nth-child(1)::before
{
	content: "";
	position: absolute;
	height: 120px;
	width: 1px;
	background-color: lightgray;
	transform:rotate(-90deg);
	top:-5px;
	left:170px;
}

.info-str-prj
{
	margin:0px 170px 0px 170px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	padding-bottom: 65px;
}

.info-str-prj div
{
	width: 50%;
	box-sizing: border-box;
	margin-top:-5px;	
}

.info-str-prj div:nth-child(2),
.info-str-prj div:nth-child(3),
.info-str-prj div:nth-child(6)
{
	padding:0px 40px 0px 35px;
}


.info-str-prj img
{
	width: 100%;
}

.info-str-prj div p:nth-child(1)
{
	font-size: 30px;
	color: #1d1d1d;
	font-weight:700;
}


/*Пятая секция*/

.joker-text p::first-letter
{
	font-size:50px;
}

.joker-text p span
{
	font-size:50px;
	letter-spacing: -6px;
}

.joker-text
{
	color: white;
	padding: 40px 0px 0px 50px;
}

.joker-text p
{
	color: white;
	margin:0px;
	position: relative;
}

.joker-text p::before
{
	content: "";
	position: absolute;
	height: 115px;
	width: 1px;
	background-color: lightgray;
	transform:rotate(-90deg);
	top:0px;
	left:185px;
}

.joker-fon
{
	background:url(img/joker.png) no-repeat ,
	 linear-gradient(to right, #72506d, #6c516d, #3b4765, #334261);
	 background-size: 100% 100%;

}

.joker-content
{
	padding:45px 0px 0px 470px;
	display: grid;
	grid-template-columns:auto auto;
	grid-template-rows:auto auto;
}

.jok-content
{
	
	text-align: left;

}

.jok-content p
{
	color: white;
}

.jok-content p:nth-child(1)
{
	font-size: 18px;
}

.jok-content p:nth-child(2)
{
	font-size: 11px;
}

.jok-content div:nth-child(1)
{
	grid-column:0/1;
	grid-row:0/1;

}

.jok-content div:nth-child(2)
{
	grid-column:2/3;
	grid-row:0/1;
}

.jok-content div:nth-child(3)
{
	grid-column:0/1;
	grid-row:1/2;
}

.jok-content div:nth-child(4)
{
	grid-column:2/3;
	grid-row:1/2;
}

.joker-content div:nth-child(even)
{
	padding:0px 180px 55px 0px;
}

.joker-content div:nth-child(odd)
{
	padding:0px 90px 55px 0px;
}

/*Шестая секция*/

.our-team-name .yellow-first-letter::first-letter
{
	font-size:50px;
	letter-spacing: -3px;
}

.our-team-name p span
{
	font-size: 50px;
	letter-spacing: -6px;
}

.our-team-name p
{
	min-width: 145px;
	position: relative;
}

.our-team-name p::before
{
	content: "";
	position: absolute;
	height: 80px;
	width: 1px;
	background-color: lightgray;
	transform:rotate(-90deg);
	top: 14px;
    left: 102px;
}


.header-for-our-team
{
	display: flex;
	justify-content: flex-end;
	flex-wrap: wrap;
	margin:0px 70px 0px 50px;
}

.header-for-our-team div
{
	box-sizing: border-box;
}

.our-team-text
{
	padding:85px 160px 35px 0px;
	width: 72%
}

.our-team-name
{
	padding: 100px 145px 0px 0px;
	width: 28%
}

.our-team-post
{
	width: 72%;
	display: flex;
	justify-content: space-between;
	margin-bottom:134px;
}

.our-team-post div
{
	text-align: center;
}

.our-team-post p
{
	font-size: 16px;
}

.our-team-post div p:nth-of-type(1)
{
	font-weight: 700;
}

.our-team-post div p:nth-of-type(2)
{
	font-style:italic;
}

/*Седьмая секция*/

.about-author img
{
	border-radius: 100%;
	border:3px solid #ffc600;
}

.about-author div:nth-child(2)
{
	text-align: center;
	margin-left: 82px;
}

.text-for-author .yellow-first-letter::first-letter
{
	font-size:50px;
	letter-spacing: -3px;
}

.text-for-author
{
	color: white;
	padding:55px 0px 15px 50px;
}

.text-for-author p
{
	position: relative;
}

.text-for-author p::before
{
	content:"";
	position: absolute;
	height: 80px;
	width: 1px;
	background-color: lightgray;
	transform:rotate(-90deg);
	top: 14px;
    left: 130px;
}

.about-author
{
	display: flex;
	justify-content: center;
	margin:0px 275px 0px 90px;
	align-items: center;
	padding-bottom: 120px;
}

.about-author p
{
	color:white;
}

/*Восьмая секция*/

.blogs
{
	margin:0 60px;
	display: flex;
}

.blogs-pict
{
	display: flex;
	justify-content: space-between;
	padding-top: 30px;
}

.blogs-pict>div
{
	width: 25%;
	box-sizing: border-box;
}

.blogs-pict>div:nth-child(1)
{
	margin-right: 80px;
}

.blogs-pict>div:nth-child(2)
{
	margin-right: 110px;

}


.blogs-pict div p:nth-of-type(3)
{
	font-style: italic;
	font-size: 12px;
}

.blogs>div:nth-child(1)
{
	width: 30%;
	padding-top:30px;
}

.blogs>div:nth-child(2)
{
	width: 70%;
}

.blogs img
{
	min-height: 206px;
	max-width: 180px;
}

.blogs ul
{
	padding-left: 55px;
	padding-top: 20px;
	padding-bottom: 70px;
}

.blogs-a
{
	font-size: 18px;
	color: #000000;
	text-decoration: none;
}

.blogs-a:hover
{
	color: #ffc600;
}

.blogs ul li
{
	padding-bottom: 30px;
}

/*Девятая секция*/

.contact
{
	display: flex;
}

.map
{
	background: url(img/map.png) no-repeat;
	background-size: 160% 190%;
	width: 40%;
	position: relative;
}

.map::before
{
	content:"";
	position: absolute;
	left: 230px;
	top:360px;
	display: block;
	min-width: 57px;
	min-height: 57px;
	border:2px solid #ffc600;
	background-color: black;
	border-radius: 100%;
}

.map::after
{
	content:"Sublime";
	color: white;
	font-size: 14px;
	position: absolute;
	left: 236px;
	top:380px;
}

.contact-us
{
	width: 60%;
	background-color:#2046b3;
	box-sizing: border-box;
}

.contact-us .yellow-first-letter
{
	font-weight: 700;
	font-size:50px;
	color: white;
	margin-left:100px;
	margin-bottom: 30px;
}

form
{
	padding:0px 210px 0px 75px;
	box-sizing: border-box;
}

input[ name="name"]
{
	width: 96%;
}

input[name="mobile"]
{
	margin-right: 45px;
	width: 37%;
}

input[type="email"]
{
	width: 43%;
}

input{
	background:transparent;
	border:2px solid white;
	font-size: 16px;
	color: white;
	font-weight: 700;
	padding:10px 0px 10px 15px;
}

input::-webkit-input-placeholder 
{ 
	color: white; 
}

textarea
{
	background: transparent;
	border:2px solid white;
	width: 98%;
	padding:10px 0px 10px 15px;
	font-size: 16px;
	color: white;
	font-weight: 700;

}

input[type="submit"]
{
	font-size: 16px;
	font-weight: 700;
	color: black;
	background-color: #ffc600;
	border:none;
	padding: 10px 40px 10px 30px;
}